<footer class="footer-wrap">
    <include src="src/templates/sections/banner.html"></include>

    <div class="footer">
        <div class="container">
            <div class="footer-links-mobile">
                <a href="#">Категории</a>
                <a href="#">Бренды</a>
                <a href="#">Услуги</a>
                <a href="#">Покупателю</a>
            </div>

            <div class="footer__links">
                <div class="footer-links footer-links--categories">
                    <div class="footer-links__title">Категории</div>
                    <ul>
                        <li><a href="#">Бытовые сплит-системы</a></li>
                        <li><a href="#">Полупромышленное оборудование</a></li>
                        <li><a href="#">Мультисплит системы</a></li>
                        <li><a href="#">VRV системы</a></li>
                        <li><a href="#">Системы вентиляции</a></li>
                    </ul>
                </div>

                <div class="footer-links footer-links--brands">
                    <div class="footer-links__title">Бренды</div>
                    <ul>
                        <li><a href="#">Mitsubishi Electric</a></li>
                        <li><a href="#">SystemAir</a></li>
                        <li><a href="#">Daikin</a></li>
                        <li><a href="#">Kentatsu</a></li>
                        <li><a href="#">Daichi</a></li>
                    </ul>
                </div>

                <div class="footer-links footer-links--services">
                    <div class="footer-links__title">Услуги</div>
                    <ul>
                        <li><a href="#">Проектирование</a></li>
                        <li><a href="#">Поставка</a></li>
                        <li><a href="#">Монтаж</a></li>
                        <li><a href="#">Обслуживание</a></li>
                    </ul>
                </div>

                <div class="footer-links footer-links--customers">
                    <div class="footer-links__title">Покупателю</div>
                    <ul>
                        <li><a href="#">Акции</a></li>
                        <li><a href="#">Оплата</a></li>
                        <li><a href="#">Доставка</a></li>
                        <li><a href="#">Новости</a></li>
                        <li><a href="#">О нас</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </div>
            </div>

            <div class="footer__info">
                <div class="top-equipment">
                    <img src="img/top.png" alt="">
                    <span>Топ оборудование <br> 2021 года. <a href="#">Подробнее</a></span>
                </div>

                <div class="footer__policy">
                    topclimate.shop (c) 2016-2021 <br>
                    ООО <br>
                    ИНН <br>
                    ОГРН
                </div>

                <div class="footer__oferta">
                    Все цены, указанные на сайте, приведены как справочная информация и не являются публичной офертой. Цены определяются положениями статьи 437 Гражданского кодекса Российской Федерации и могут быть изменены в любое время без предупреждения.
                </div>
            </div>
        </div>
    </div>

    <div class="bottom-links">
        <div class="container">
            <a href="#" target="_blank">Политика конфиденциальности</a>
            <a href="#" target="_blank">Политика обработки персональных данных</a>
            <a href="#" target="_blank">Cookie</a>
            <a href="#" target="_blank">Разработка сайта — СтандартМаркетинг</a>
        </div>
    </div>
</footer>