<div class="container achievements">
  <div class="row cards-wrapper">
    <div class="col-lg-3 col-6">
      <div class="achievement">
        <div class="achievement__icon"><img src="img/icons/fast-delivery.png" alt=""></div>
        <div class="achievement__info">
          <div class="achievement__title">Бесплатная доставка</div>
          <div class="achievement__descr" style="width: 200px">Бесплатная доставка заказов <br>
            по Нижнему Новгороду</div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-6">
      <div class="achievement">
        <div class="achievement__icon"><img src="img/icons/wrench.png" alt=""></div>
        <div class="achievement__info">
          <div class="achievement__title">Монтаж</div>
          <div class="achievement__descr">Установка оборудования <br>
            любой сложности</div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-6">
      <div class="achievement">
        <div class="achievement__icon"><img src="img/icons/star.png" alt=""></div>
        <div class="achievement__info">
          <div class="achievement__title">Экспертиза</div>
          <div class="achievement__descr">С вами работают эксперты <br>
            с оптом более 5 лет</div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-6">
      <div class="achievement">
        <div class="achievement__icon"><img src="img/icons/guarantee.png" alt=""></div>
        <div class="achievement__info">
          <div class="achievement__title">Гарантия</div>
          <div class="achievement__descr">До 5 лет от производителя, <br>
            с бесплатным ремонтом</div>
        </div>
      </div>
    </div>
  </div>
</div>
