<section class="banner">
    <div class="container">
        <div class="banner-content">
            <div class="banner-content__title">Получите полный <br>прайс-лист и скидку</div>
            <div class="banner-content__descr">По номеру телефону за вами закрепится <br>
                <span class="blue">гарантированная скидка до 5%</span></div>

            <form id="price-list-form" class="banner-content__form order-form">
                <div class="form-item">
                    <label>Ваш телефон</label>
                    <input name="phone" type="tel" placeholder="+7 (___) ___-__-__" required class="phone-input form-control">
                </div>

                <div class="form-item">
                    <button class="btn" type="submit">Получить прайс и скидку</button>
                </div>

                <div class="form-item">
                    <label class="checkbox policy-checkbox">
                        <input name="policy" type="checkbox" required checked>
                        <span>Я принимаю условия <a href="#" target="_blank">обработки
    персональных данных</a></span>
                    </label>
                </div>
            </form>
        </div>
    </div>
</section>

<div class="short-contacts">
    <div class="container d-flex align-items-center">
        <img src="img/viber.png" alt="">
        <div><span>Задайте все вопросы по телефону: <a href="tel:8 (831) 281-64-94">8 (831) 281-64-94</a>.</span>
            <span>Или пишите нам на email:
        <a href="mailto:climate@smartoptima.com">climate@smartoptima.com</a></span></div>
    </div>
</div>