<section class="calc">
  <div class="container">
    <div class="calc__card">
      <div class="calc__top">
        <div class="calc__title">Подберите кондиционер <br>за пару кликов</div>
        <div class="calc__info">
          Не нужно откладывать на завтра. <br>
          Получите <a href="#">лучшие варианты уже сегодня</a>
        </div>
      </div>

      <form class="calc-form">
        <div class="form-item">
          <label>Площадь помещения</label>
          <input type="text" class="form-control" placeholder="Не указано">
        </div>

        <div class="form-item">
          <label>Тип помещения</label>
          <input type="text" class="form-control" placeholder="Выберите тип">
        </div>

        <div class="d-flex">
          <div class="form-item">
            <label>Сторона дома</label>
            <input type="text" class="form-control" placeholder="Выберите тип">
          </div>

          <div class="form-item">
            <label>Окна</label>
            <input type="text" class="form-control" placeholder="Выберите тип">
          </div>
        </div>

        <div class="d-flex">
          <button class="btn">Добавить комнату</button>
          <button class="btn">Продолжить</button>
        </div>
      </form>
    </div>
  </div>
</section>