<section class="section">
  <div class="container">
    <div class="section__header">
      <h2 class="section__title">Каталог</h2>
    </div>

    <div class="section__inner">
      <div class="catalog">
        <div class="catalog__categories dragscroll">
          <div class="rail-list">
            <a class="btn btn--light" href="#">Для дома</a>
            <a class="btn btn--light" href="#">Для офиса</a>
            <a class="btn btn--light" href="#">Для спальни</a>
            <a class="btn btn--light" href="#">Для магазина</a>
            <a class="btn btn--light" href="#">Для гостиной</a>
          </div>
        </div>

        <div class="row cards-wrapper">
            <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                <a href="#" class="cat-card">
                    <span class="cat-card__name">Бытовые <br>сплит-системы</span>
                    <span class="cat-card__img" style="background-image: url('img/assets/img7.png')"></span>
                </a>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                <a href="#" class="cat-card">
                    <span class="cat-card__name">Мультисплит <br>системы</span>
                    <span class="cat-card__img" style="background-image: url('img/assets/img8.png')"></span>
                </a>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                <a href="#" class="cat-card">
                    <span class="cat-card__name">Полупром. <br>оборудование</span>
                    <span class="cat-card__img" style="background-image: url('img/assets/img9.png')"></span>
                </a>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                <a href="#" class="cat-card">
                    <span class="cat-card__name">VRV системы</span>
                    <span class="cat-card__img" style="background-image: url('img/assets/img10.png')"></span>
                </a>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                <a href="#" class="cat-card">
                    <span class="cat-card__name">Системы <br>вентиляции</span>
                    <span class="cat-card__img" style="background-image: url('img/assets/img11.png')"></span>
                </a>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                <a href="#" class="cat-card cat-card--dark">
                    <span class="cat-card__name">Топ <br>оборудование</span>
                    <span class="cat-card__img" style="background-image: url('img/assets/img12.png')"></span>
                </a>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>