<section class="section">
  <div class="container">
    <div class="section__header">
      <h2 class="section__title">Официальные дилеры <br>климатического оборудования</h2>
    </div>

    <div class="section__inner">
      <div class="row cards-wrapper">
        <div class="col-lg-2 col-md-4 col-6">
          <a href="#" class="logo-card"><img src="img/assets/mitsubishi.png" alt=""></a>
        </div>

        <div class="col-lg-2 col-md-4 col-6">
          <a href="#" class="logo-card"><img src="img/assets/mitsubishi.png" alt=""></a>
        </div>

        <div class="col-lg-2 col-md-4 col-6">
          <a href="#" class="logo-card"><img src="img/assets/mitsubishi.png" alt=""></a>
        </div>

        <div class="col-lg-2 col-md-4 col-6">
          <a href="#" class="logo-card"><img src="img/assets/mitsubishi.png" alt=""></a>
        </div>

        <div class="col-lg-2 col-md-4 col-6">
          <a href="#" class="logo-card"><img src="img/assets/mitsubishi.png" alt=""></a>
        </div>

        <div class="col-lg-2 col-md-4 col-6">
          <a href="#" class="logo-card"><img src="img/assets/mitsubishi.png" alt=""></a>
        </div>
      </div>
    </div>
  </div>
</section>