<section class="section">
  <div class="container">
    <div class="section__header">
      <h2 class="section__title">{{ title }}</h2>
    </div>

    <div class="section__inner">
      <div class="row cards-wrapper">
        <div class="col-lg-4">
          <div class="news-card">
            <div class="news-card__img"><img src="img/assets/img5.png" alt=""></div>
            <div class="news-card__info">
              <span class="news-card__date">1.08.2021</span>
              <h3 class="news-card__title">Новый сайт TopClimate</h3>
              <p class="news-card__descr">Краткое описание новости, которое обрывается автоматически на третей строке и добавляется три точки в конце...</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="news-card">
            <div class="news-card__img"><img src="img/assets/img5.png" alt=""></div>
            <div class="news-card__info">
              <span class="news-card__date">1.08.2021</span>
              <h3 class="news-card__title">Новый сайт TopClimate</h3>
              <p class="news-card__descr">Краткое описание новости, которое обрывается автоматически на третей строке и добавляется три точки в конце...</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="news-card">
            <div class="news-card__img"><img src="img/assets/img5.png" alt=""></div>
            <div class="news-card__info">
              <span class="news-card__date">1.08.2021</span>
              <h3 class="news-card__title">Новый сайт TopClimate</h3>
              <p class="news-card__descr">Краткое описание новости, которое обрывается автоматически на третей строке и добавляется три точки в конце...</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>