<section class="section">
  <div class="container">
    <div class="section__header">
      <h2 class="section__title">Все услуги в одном месте</h2>
    </div>

    <div class="section__inner">
      <div class="row cards-wrapper">
        <div class="col-lg-3 col-md-6">
          <a class="service-card" href="#" style="background-image: url('img/assets/img1.png')">Проектирование</a>
        </div>

        <div class="col-lg-3 col-md-6">
          <a class="service-card" href="#" style="background-image: url('img/assets/img2.png')">Поставка</a>
        </div>

        <div class="col-lg-3 col-md-6">
          <a class="service-card" href="#" style="background-image: url('img/assets/img3.png')">Монтаж</a>
        </div>

        <div class="col-lg-3 col-md-6">
          <a class="service-card" href="#" style="background-image: url('img/assets/img4.png')">Обслуживание</a>
        </div>
      </div>
    </div>
  </div>
</section>