@import "../../node_modules/normalize.css/normalize.css";
@import "../../node_modules/bootstrap/dist/css/bootstrap-grid.css";

@import "vars";
@import "common";
@import "header";

.service-cards {
    margin-top: -20px;

    .service-card {
        margin-top: 20px;
    }
}

.service-card {
    background-color: $grey;
    border-radius: 15px;
    height: 300px;
    padding: 50px 30px 0;
    overflow: hidden;
    position: relative;
    background-position: right bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    font-size: 21px;
}