@import "../../node_modules/normalize.css/normalize.css";
@import "../../node_modules/bootstrap/dist/css/bootstrap-grid.css";
@import "../../node_modules/@fancyapps/ui/dist/fancybox.css";
@import "../../node_modules/@fancyapps/ui/dist/carousel.css";

@import "vars";
@import "mixins";
@import "common";
@import "header";
@import "footer";

.cards-wrapper {
    margin-top: -20px;

    & > div {
        margin-top: 20px;
    }
}

.service-card {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    outline: 0;
    background-color: $grey;
    border-radius: 15px;
    height: 300px;
    overflow: hidden;
    position: relative;
    background-position: right bottom;
    background-size: 100%;
    background-repeat: no-repeat;

    @include _768() {
        height: 220px;
    }

    &__name {
        padding: 50px 30px 0;
        color: $main-color;
        font-size: 21px;

        @include _768() {
            font-size: 18px;
            padding-top: 30px;
        }
    }

    &__img {
        margin-top: auto;
        flex-shrink: 0;
        background: right 50%/contain no-repeat;
        flex-grow: 1;
    }
}

.more-news {
    font-size: 18px;
    display: inline-flex;
    align-items: center;

    &:after {
        content: '';
        width: 6px;
        height: 10px;
        display: block;
        margin-left: 12px;
        background: url('../img/right-arrow.svg') no-repeat center;
    }
}

.news-card {
    border-radius: 15px;
    border: 1px solid $border-color;
    padding: 50px 20px 30px;
    display: block;
    text-decoration: none;
    color: inherit;

    &:hover {
        .news-card__title {
            color: $blue;
        }
    }

    &__img {
        margin-bottom: 50px;
        text-align: center;

        img {
            object-fit: cover;
        }
    }

    &__info {
        padding: 0 10px;
    }

    &__date {
        font-size: 14px;
        color: $blue;
        display: block;
        margin-bottom: 20px;
    }

    &__title {
        margin: 0 0 20px;
        font-weight: 400;
        font-size: 20px;
        transition: 0.3s color ease-in-out;
    }

    &__descr {
        font-size: 14px;
        color: #8b8b8b;
        margin: 0;
    }

    &--full-img {
        padding: 0 0 30px;
        overflow: hidden;

        .news-card__img {
            max-height: 180px;
            margin-bottom: 25px;
            overflow: hidden;

            img {
                object-fit: cover;
                width: 100%;
            }
        }

        .news-card__info {
            padding: 0 30px;
        }
    }
}

.exclusive-product {
    display: block;
    border-radius: 15px;
    background: #000;
    text-align: center;
    color: #fff;
    padding: 100px 20px;
    height: 570px;
    overflow: hidden;

    @include _768() {
        height: initial;
        padding: 50px 20px;
    }

    &__name {
        font-size: 30px;
        margin-bottom: 30px;
    }

    &__descr {
        font-size: 16px;
        max-width: 400px;
        margin: 0 auto 100px;

        @include _768() {
            margin-bottom: 50px;
        }
    }

    &__img {
        max-width: 315px;
        text-align: center;
        margin: auto;

        img {
            object-fit: cover;
        }
    }
}

.logo-card {
    border-radius: 5px;
    border: 1px solid $border-color;
    text-align: center;
    padding: 12px;
    display: block;
    transition: 0.2s box-shadow ease;

    &:hover {
        box-shadow: 0 3px 10px rgb(0 0 0 / 8%);
    }

    img {
        object-fit: cover;
        max-height: 70px;
    }
}

.achievements {
    padding: 45px 15px;
}

.achievement {
    display: flex;
    align-items: center;

    &__icon {
        width: 65px;
        height: 65px;
        border-radius: 50%;
        background-color: $blue;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
        flex-shrink: 0;
    }

    &__title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    &__descr {
        font-size: 14px;
    }

    @include _768() {
        flex-direction: column;
        align-items: flex-start;

        &__icon {
            margin-bottom: 20px;
            margin-right: 0;
            width: 50px;
            height: 50px;
        }
    }
}

.slider-main {
    margin-bottom: 40px;

    &__item {
        overflow: hidden;
        border-radius: 15px;
        flex: 0 0 auto;

        &:not(:last-child) {
            margin-right: 30px;
        }

        & > a {
            display: block;

            img {
                max-width: initial;
            }
        }
    }
}

.catalog {
    &__categories {
        height: 46px;
        margin-bottom: 10px;
        padding-bottom: 20px;
        box-sizing: content-box;

        .btn {
            min-width: 140px;

            &:not(:last-child) {
                margin-right: 12px;
            }
        }
    }
}

.cat-card {
    display: flex;
    flex-direction: column;
    background: $grey;
    height: 170px;
    border-radius: 5px;
    text-decoration: none;
    outline: 0;
    color: $main-color;

    &--dark {
        background-color: #000;
        color: #fff;
    }

    &__name {
        font-size: 16px;
        padding: 20px 22px 0;
    }

    &__img {
        margin-top: auto;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        background: 50% 50%/contain no-repeat;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }
}

.calc {
    background: $grey url('../img/calc-bg.jpg') no-repeat top center;
    min-height: 660px;
    padding: 45px 0 50px;
    margin: 35px 0 40px;

    .container {
        display: flex;
        justify-content: flex-end;
    }

    &__top {
        margin-bottom: 25px;
        padding-top: 10px;
    }

    &__card {
        background: #fff;
        border-radius: 10px;
        padding: 30px;
        max-width: 500px;
        width: 100%;
    }

    &__title {
        font-size: 28px;
        font-weight: 400;
        margin-bottom: 15px;
    }
}

.policy-checkbox {
    margin: 0 !important;

    span {
        max-width: 230px;
        display: inline-block;
    }
}

.breadcrumbs {
    color: #757575;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    flex-wrap: wrap;
    font-size: 12px;
    margin-bottom: 15px;

    li {
        display: flex;
        align-items: center;

        &:not(:last-child):after {
            content: '—';
            display: block;
            margin: 0 6px;
            color: #757575;
            font-size: 12px;
        }
    }

    a {
        color: #757575;
        transition: .3s ease color;

        &:hover {
            color: lighten(#757575, 20%);
        }
    }
}

.hero {
    min-height: 450px;
    padding: 45px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &--white {
        color: #fff;
    }

    &__inner {
        padding: 45px 0;

        @include _768() {
            padding: 0;
            margin-bottom: 60px;
            text-align: center;
        }
    }

    &__title {
        font-size: 36px;
        font-weight: bold;
        margin: 0 0 30px;
    }

    &__subtitle {
        font-size: 18px;
        margin: 0;
    }

    &__subtitle + &__actions {
        margin-top: 50px;
    }

    &__actions {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        @include _768() {
            justify-content: center;
        }

        .btn {
            min-width: 165px;
            min-height: 50px;

            &:not(:last-child) {
                margin-right: 12px;
            }
        }
    }

    &__img {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.hero-brands {
    background-color: #e3eaff;
}

.section-about {
    padding: 40px 0 35px;

    h2 {
        font-size: 36px;
        font-weight: normal;
    }

    img {
        display: block;
    }
}

.tag {
    white-space: nowrap;
    height: 30px;
    line-height: 30px;
    padding: 0 18px;
    font-size: 14px;
    display: inline-block;
    border-radius: 5px;
    
    &--orange {
        background-color: #fcf4ed;
        color: #ba8658;
    }

    &--green {
        background-color: #edfcef;
        color: #528c5a;
    }
}

.popular-products {
    max-width: 830px;
    margin: auto;

    &__item:not(:last-child) {
        margin-bottom: 30px;
    }
}

.popular-product {
    border: 1px solid $border-color;
    border-radius: 15px;
    padding: 20px 30px 25px 0;
    display: flex;

    &--blurred {
        filter: blur(6.4px);
        pointer-events: none;
        opacity: .7;
    }

    @include _768() {
        flex-direction: column;
        padding: 25px;
    }

    @include _480() {
        padding: 20px 15px;
    }

    &__tags-mobile {
        display: none;

        @include _768() {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 15px;

            .tag:not(:last-child) {
                margin-right: 7px;
            }
        }
    }

    &__img {
        max-width: 300px;
        padding: 0 30px;
        display: flex;
        align-items: center;

        @include _768() {
            margin: 0 auto 30px;
            max-width: 400px;
        }
    }

    &__inner {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    &__about {
        flex: 1;
    }

    &__tags {
        display: flex;
        align-items: center;
        margin-bottom: 25px;

        @include _768() {
            display: none;
        }

        .tag:not(:last-child) {
            margin-right: 7px;
        }
    }

    &__name {
        font-size: 21px;
        margin-bottom: 25px;

        @include _768() {
            text-align: center;
        }
    }

    &__descr {
        margin: 0 0 25px;
        padding: 0;
        list-style: none;
        font-size: 14px;
        color: #6f6f6f;
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        @include _480() {
            flex-direction: column;
        }
    }

    &__price {
        font-size: 30px;
        white-space: nowrap;
        margin-right: 15px;

        @include _480() {
            margin-bottom: 30px;
            margin-right: 0;
        }
    }

    &__action {
        width: 170px;
        height: 50px;
    }
}

.price-banner {
    background: rgb(108,155,255);
    background: linear-gradient(180deg, rgba(85,170,255,1) 0%, rgba(79,156,255,1) 4%, rgba(0,128,246,1) 100%);
    color: #fff;
    padding: 40px 30px;
    border-radius: 30px;
    display: flex;
    align-items: center;

    @include _768() {
        flex-direction: column;
    }

    label, .checkbox, a {
        color: #fff;
    }

    &__inner {
        max-width: 370px;
    }

    &__img {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex: 1;
        min-width: 340px;
        position: relative;
        top: 30px;

        @include _768() {
            min-width: 300px;
        }
    }

    .btn {
        background-color: #cc2229;
    }
}

.series {
    .series-card:not(:last-child) {
        margin-bottom: 30px;
    }
}

.series-card {
    &__title {
        font-size: 21px;
        margin-bottom: 25px;

        @include _768() {
            text-align: center;
        }
    }

    &__descr {
        font-size: 14px;
        margin: 0 0 40px;
    }

    &__img {
        padding-right: 0;

        @include _768() {
            padding-right: 15px;
            margin-bottom: 30px;

            img {
                display: block;
                width: 100%;
            }
        }
    }

    &__inner {
        padding-left: 70px;
        max-width: 550px;

        .btn {
            height: 50px;
            width: 100%;
            max-width: 190px;
        }

        @include _768() {
            max-width: 100%;
            padding-left: 15px;

            .btn {
                margin: auto;
                display: block;
                max-width: 300px;
            }
        }
    }
}

.page-title {
    padding: 45px 0 15px;
    text-align: center;

    h1 {
        margin: 0;
        font-size: 36px;
        font-weight: bold;
    }

    p {
        margin: 0;
    }

    h1 + p {
        margin-top: 25px;
    }
}

.article {
    padding: 35px 0;

    img {
        border-radius: 15px;
        display: block;
        width: 100%;
    }
}

.service-article {
    &__text {
        max-width: 770px;
        margin: auto;
        text-align: center;
    }

    &__title {
        font-size: 36px;
        font-weight: bold;
        margin: 25px 0 30px;
    }

    &:not(:last-of-type) {
        margin-bottom: 60px;
    }

    img {
        margin: 35px 0;
    }

    ul {
        margin: 30px auto;
        max-width: 450px;
        text-align: left;
    }
}

.service-steps {
    & > div:not(:last-child) {
        margin-bottom: 30px;
    }

    &__title {
        font-size: 21px;
        font-weight: normal;
        margin: 0 0 15px;
    }
}

.section-name {
    font-size: 20px;
    color: $blue;
}

.actual-price {
    padding: 35px 0;
    background-color: $grey;
}

.delivery {
    text-align: center;

    &:not(:last-child) {
        margin-bottom: 45px;
    }

    &__title {
        font-size: 21px;
        margin: 0 0 25px;
        font-weight: normal;
    }

    p {
        font-size: 14px;
        margin: 0;
    }
}

.delivery-item {
    border-radius: 15px;
    background-color: $grey;
    padding: 25px 30px;
    text-align: left;

    &:not(:last-of-type) {
        margin-bottom: 20px;
    }

    &__name {
        font-size: 18px;
        margin: 0 0 20px;
        font-weight: normal;
    }

    &__descr {
        margin: 0;
    }
}

.news-article {
    header {
        margin-bottom: 40px;
        text-align: center;
    }

    &__title {
        font-size: 36px;
        font-weight: bold;
    }

    &__date {
        font-size: 18px;
        color: $blue;
        margin-bottom: 30px;
    }

    figure {
        margin: 35px 0;

        iframe {
            border-radius: 15px;
            overflow: hidden;
        }

        figcaption {
            padding-top: 25px;
            font-size: 14px;
            text-align: center;
            max-width: 570px;
            margin: auto;
        }
    }
}